/* HEADER DE NAVEGAÇÃO */
header.nav-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: var(--color-lightdark);
    border: 0.10625rem solid var(--border-color);
    border-radius: 0.75rem;
    height: 4rem;
    max-width: 36.875rem;
    min-width: 20rem;
    margin: 0.9375rem auto 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}

nav.left-section,
.right-section {
    display: flex;
    align-items: center;
    gap: 0.625rem;
}

.right-section .hire-me {
    margin-top: 0.09375rem;
}

.links {
    display: flex;
    align-items: center;
}

.links button,
.dark-mode {
    border: none;
    background: transparent;
    border-radius: 1.375rem;
    height: 1.875rem;
    width: 1.875rem;
    cursor: pointer;
    opacity: 0.3;
    transition: all 0.2s ease-in-out;
    position: relative;
}

.links button:hover,
.dark-mode:hover {
    background-color: #333;
    opacity: 0.6;
}

.links img,
.right-section img {
    width: 1.75rem;
    height: 1.75rem;
}

.hire-me img {
    width: 0.875rem;
    height: 0.875rem;
    margin-right: 0.3125rem;
}

/* TOOLTIP */
.links .tooltip {
    position: absolute;
    background-color: #222;
    color: white;
    border-radius: 0.625rem;
    padding: 0.25rem 0.5rem;
    font-size: 0.8125rem;
    opacity: 0;
    pointer-events: none;
    white-space: nowrap;
    bottom: 0;
    transition: 0.2s;
}

.links button:hover .tooltip {
    opacity: 1;
    transform: translateY(-152%);
}

.links .tooltip {
    margin-left: -0.75rem;
}

.right-section .tooltip {
    margin-left: -1.6875rem;
}
